<bone extends="main">
    <bone block="title">HELLO</bone>
    <bone block="content">
        <h2>hello <span vars="$name,$email|email|ucfirst,$date|date('d/m/y')" filter="lower"></span> !</h2>
        
        <bone var="$name">
        
        <ul loop="5">
            <div vars="$name,$surname,$address">
                <div>
                    <h2>My name is $name $surname</h2>
                    <div>And my address is $address</div>
                </div>
            </div>
        </ul>
    </bone>
</bone>

